@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191765;
  width: auto;
  height: 100%;
}

.backgraund {
  display: flex;
  position: absolute;
  width: 100%;
  height: 563px;
  left: -106px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 44px;
}

.placeholder {
  display: flex;
  height: 36px;
  width: 105px;
  margin-left: 24px;
  margin-top: 50px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.logo {
  display: flex;
  width: 81px;
  height: 16px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.button {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-right: 24px;
  border-radius: 8px;
  background: transparent;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 19px;
  padding: 120px 24px;
  gap: 40px;
  width: 100%;
  height: 1316.15px;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.37px;
  text-align: center;
  color: #7d73fc;
}

.subtitle {
  height: 87px;
  width: 327px;
  top: 67px;
  text-align: center;
}

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
  color: #edecff;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #c8c8d4;
  text-align: center;
}

.frame46 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
  margin-left: 36px;
  margin-right: 36px;
  width: 303px;
  height: 214.15px;
  flex: none;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 123px;
  height: 167.33px;
  flex: none;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

li {
  list-style: none;
}

.title-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.3px 8px;
  gap: 8px;
  width: 123px;
  height: 26.67px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #9490ff;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.16px;
  gap: 4.78px;
  color: #f5f5ff;
  width: 111.08px;
  height: 128.67px;
  font-family: 'Roboto', sans-serif;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-right: 36px;
  width: 156px;
  height: 214.15px;
  flex: none;
  order: 1;
}

.title-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.3px 8px;
  gap: 8px;
  width: 156px;
  height: 26.67px;
  flex: none;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4.78px;
  margin-left: 36px;
  width: 122px;
  height: 224px;
  flex: none;
  order: 1;
}

.title-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.3px 8px;
  gap: 8px;
  flex: none;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 200px;
  height: 104px;
  flex: none;
  order: 2;
}

.devider2 {
  width: 327px;
  height: 17px;
  flex: none;
  order: 0;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  flex: none;
  gap: 10px;
}

/* Section Works */

.works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  align-content: center;
  top: 1175px;
  padding: 120px;
  gap: 40px;
  width: 100%;
  height: 3461px;
  margin: auto;
  background-image: url("img/work/portfolio-background-shapes-mobile@2x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.title-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 145px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 250px;
  bottom: 41px;
}

.devider3 {
  display: flex;
  height: 17px;
  width: 100%;
}

#works {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  text-align: left;
  left: 24px;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: auto;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.featured-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img-placeholder {
  background:
    linear-gradient(0deg, #f9f9f9, #f9f9f9),
    url(img/work/Img-Placeholder.png);
  color: #f9f9f9;
  flex: none;
  order: 0;
  flex-grow: 0;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.description {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  flex: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 49px 56px 95px 61px;
  grid-template-rows: 40px;
  justify-content: center;
  align-content: center;
  width: 312px;
  height: 40px;
  gap: 8px;
}

.grid-container > ul {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  justify-content: center;
  line-height: 20px;
  color: #fff;
}

.item1 {
  border-right: 1px solid #555;
  padding-top: 10px;
  justify-items: center;
}

.item2 {
  border-right: 1px solid #555;
  padding-top: 10px;
  justify-items: center;
}

.item3 {
  border-right: 1px solid #555;
  padding-top: 10px;
  justify-items: center;
}

.item4 {
  border-right: 1px solid #555;
  padding-top: 10px;
  justify-items: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 34px;
  width: 327px;
  height: 469px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #edecff;
  background: #7d73fc;
  flex: none;
  order: 3;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  border: none;
}

.contact-page {
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-top: #3a3837 solid 1px;
  width: 100%;
}

.h3 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #9390ff;
}

input {
  height: 48px;
  width: 100%;
  margin: 24px 0;
}

textarea {
  height: 148px;
  width: 100%;
  margin-top: 24px;
}

.button-footer {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  margin-top: 40px;
}
