@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191765;
height: 5415px;
width: 375px;
left: 4127px;
top: -2311px;
border-radius: 0px;


}
.backgraund {
  display: flex;
  position: absolute;
  width: 513px;
  height: 563px;
  left: -106px;
  top: 0px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0px;
  top: 44px;
  border-radius: 0px;
}

.placeholder {
  display: flex;
  height: 36px;
width: 105px;
margin-left: 24px;
margin-top: 50px;
border-radius: 0px;


}

.logo {
  display: flex;
  width: 81px;
  height: 16px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
color: #FFFFFF;
align-items: center;
letter-spacing: 0.03em;
flex: none;
order: 0;
flex-grow: 0;
}

.button {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-right: 24px;
  border-radius: 8px;
  background: transparent;

}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0px;
  top: 19px;
  border-radius: 0px;
  padding: 120px 24px;
  gap: 40px;
  width: 375px;
  height: 1316.15px;
  position: absolute;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-right: 24px;
  margin-left: 24px;
  text-align: center;
}

h1 {
  font-family: Roboto;
font-size: 48px;
font-weight: 700;
line-height: 72px;
letter-spacing: 0.37px;
text-align: center;
color: #7D73FC;
}

.subtitle {
  height: 87px;
width: 327px;
left: 0px;
top: 67px;
border-radius: nullpx;
text-align: center;

}
h2 {
  font-family: Roboto;
font-size: 32px;
font-weight: 500;
line-height: 44px;
letter-spacing: 0em;
text-align: center;
color: #EDECFF;
}

article {
  display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
margin-left: 24px;
margin-right: 24px;


}
p {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
color: #C8C8D4;
text-align: center;
}

.frame46 {
  display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-left: 36px;
margin-right: 36px;
width: 303px;
height: 214.15px;
flex: none;
order: 0;
flex-grow: 0;
}

.language {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
width: 123px;
height: 167.33px;
flex: none;
order: 0;
flex-grow: 0;
align-content: center;
}

li {
  list-style: none;
}

.title-lang {
  display: flex;
flex-direction: row;
align-items: center;
padding: 5.33333px 8px;
gap: 8px;

width: 123px;
height: 26.67px;
}

h3 {
  font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
width: 107px;
height: 16px;
color: #9490FF;
}

ul {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 7.16667px;
gap: 4.78px;
color: #F5F5FF;
;
width: 111.08px;
height: 128.67px;
}

.frameworks {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;
margin-right: 36px;
width: 156px;
height: 214.15px;
flex: none;
order: 1;
flex-grow: 0;
}

.title-frame {
  display: flex;
flex-direction: row;
align-items: center;
padding: 5.33333px 8px;
gap: 8px;

width: 156px;
height: 26.67px;
flex: none;
order: 0;
flex-grow: 0;
}

.skills {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;
margin-left: 36px;
width: 122px;
height: 224px;
flex: none;
order: 1;
flex-grow: 0;
}

.title-skills {
  display: flex;
flex-direction: row;
align-items: center;
padding: 5.33333px 8px;
gap: 8px;
flex: none;
order: 0;
flex-grow: 0;

}

h4 {
  font-family: Roboto;
font-size: 12px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.03em;
text-align: left;
color: #9490FF;
}

.items {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0px;
gap: 24px;
width: 200px;
height: 104px;
flex: none;
order: 2;
flex-grow: 0;
}



.devider2 {
  width: 327px;
height: 17px;
flex: none;
order: 3;
flex-grow: 0;
}

.social {
  display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 0px;
width: 200px;
height: 40px;
flex: none;
order: 0;
flex-grow: 0;
gap: 10px;
}

