/* stylelint-disable csstree/validator */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
  color: #7d73fc;
  font-size: 1em;
}

body {
  width: 100%;
  height: auto;
  background-color: #191765;
}

.backgraund {
  position: absolute;
  width: 100%;
  height: auto;
  top: 19.2vh;
  background-repeat: no-repeat;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  top: 44px;
  height: 48px;
}

/* .links {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: black;
  color: white;
  list-style: none;
  padding-top: 4rem;
} */

.hamburger {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  height: 66px;
  width: 66px;
  left: 285px;
  margin-top: 35px;
  border-radius: 8px;
  padding: 8px;
}

.bar1 {
  display: block;
  background-image: url(img/Vector.png);
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar2 {
  display: block;
  background-image: url(img/Vector.png);
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.bar3 {
  display: block;
  background-image: url(img/Vector.png);
  background-color: #fff;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar2:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar1:nth-child(1) {
  transform: translateY(27px) rotate(49deg);
}

.hamburger.active .bar3:nth-child(3) {
  transform: translateY(2px) rotate(-48deg);
}

.nav-menu {
  position: fixed;
  background-image: url(img/mobile-menu/shapes\ mobile\ menu.svg);
  background-repeat: no-repeat;
  background-size: auto;
  left: -100%;
  top: 70px;
  flex-direction: column;
  background-color: #191765;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-menu.active {
  left: 2px;
  padding-left: 10px;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url(img/active-menu/shapes-mobile-menu.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: top;
  position: absolute;
}

.nav-menu.active ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 327px;
  height: 184px;
  left: 24px;
  top: 92px;
}

/* .links {
  display: none;
  flex-direction: row;
  margin-right: 194px;
  align-items: center;
  justify-content: space-between;
  gap: 29px;
  padding: 0;
} */

a {
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.nav-menu.active .nav-link {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
  margin-top: 47px;
}

.nav-item {
  height: 40px;
  padding-left: 24px;
  right: 16px;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 16px 0;
}

.nav-menu.active .span1 {
  gap: 25vh;
}

.nav-menu.active .span2 {
  gap: 29vh;
}

.nav-menu.active .span3 {
  gap: 26vh;
}

.mail {
  display: none;
  background: transparent;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  margin-top: 1px;
}

.placeholder {
  height: 36px;
  width: 105px;
  left: 12px;
  top: 6px;
  border-radius: 0;
  padding: 62.5%, 75%;
  margin-left: 12px;
  margin-top: 50px;
}

#logo {
  width: 81px;
  height: 16px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
  animation-duration: 2.5s;
  animation-name: spin;
  animation-iteration-count: 1;
}

.nav-menu-active #logo {
  display: none;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-right: 24px;
  border-radius: 8px;
  background: transparent;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 100%;
  height: 154px;
  margin-left: 24px;
  margin-top: 139px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline-title h1 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.37px;
  color: #7d73fc;
}

.headline-subtitle h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #edecff;
}

.supporting-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  height: 738.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.first {
  width: 63.9vh;
  height: 170px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  justify-content: center;
  color: rgb(200, 200, 212);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 24px;
  margin-top: 80px;
}

.solid {
  width: 100%;
  color: #646369;
}

.frame38 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 303px;
  height: 462.15px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame46 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 303px;
  height: 214.15px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  width: 123px;
  height: 167.33px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.title-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.3px 8px;
  gap: 8px;
  width: 123px;
  height: 26.67px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #9490ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame36 {
  display: flex;
  flex-direction: column;
  padding: 0 7.16px;
  gap: 4.78px;
  color: #f5f5ff;
  width: 111.08px;
  height: 128.67px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame23 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7.2px 0;
  width: 84px;
  height: 28.33px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame24 {
  width: 96.75px;
  height: 28.67px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame25,
.frame26 {
  width: 68.08px;
  height: 28.67px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

li {
  list-style: none;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 156px;
  height: 214.15px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.3px 8px;
  gap: 8px;
  width: 156px;
  height: 26.67px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgb(148, 144, 255);
  text-align: left;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 7.74px;
  gap: 5.16px;
  width: 120px;
  height: 175.48px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(245, 245, 255);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame13,
.frame14,
.frame15,
.frame16,
.frame17 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7.74px 0;
}

.frame13 {
  width: 73.55px;
  height: 30.97px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame14 {
  width: 104.52px;
  height: 30.97px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame15 {
  width: 73.55px;
  height: 30.97px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame16 {
  width: 73.55px;
  height: 30.97px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.frame17 {
  width: 73.55px;
  height: 30.97px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 16px;
  width: 122px;
  height: 224px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.title-skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5.33333px 8px;
  gap: 8px;
  width: 122px;
  height: 26.67px;
  font-family: 'Roboto', sans-serif;
  color: rgb(148, 144, 255);
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame28 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 8px;
  gap: 5.33px;
  width: 92px;
  height: 181.33px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #f5f5ff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame41,
.frame42,
.frame43,
.frame44,
.frame45 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 76px;
  height: 32px;
}

.frame41 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame42 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame43 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.frame44 {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.frame45 {
  flex: none;
  order: 4;
  flex-grow: 0;
}

.left-element {
  display: none;
  width: 125px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #b3bac5;
  padding-left: 7.8vh;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  height: 104px;
  margin-left: 150.5px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.element-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #b3bac5;
  padding-left: 0;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.solid-two {
  width: 100%;
  color: #838180;
  margin-bottom: 48px;
  margin-top: 33px;
}

.element-two p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(162, 163, 174);
}

.fa-solid {
  width: 18px;
  height: 14.3px;
  color: rgba(196, 196, 196, 1);
}

/* Section Works */

.works {
  display: grid;
  grid-template-columns: 327px;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding: 120px 0;
  gap: 40px;
  width: 100%;
  margin: auto;
  height: 3461px;
}

.dash {
  position: absolute;
  width: 734.44px;
  height: 2617.21px;
  left: -112.04px;
  top: 1601.22px;
}

.title-work {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  gap: 24px;
  width: 375px;
  height: 145px;
  margin-bottom: 33px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#works {
  width: 327px;
  height: 104px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: rgb(148, 144, 255);
  flex: none;
  order: 0;
  flex-grow: 0;
}

#mobile {
  display: none;
}

.devider {
  width: 327px;
  margin-bottom: 48px;
  margin-top: -73px;
}

.articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 40px;
  width: 327px;
  height: 3036px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.stories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
  height: 729px;
}

.img-placeholder {
  color: #f9f9f9;
  width: 100%;
  height: 236px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: 0.3s ease-in-out;
}

.img-placeholder:hover {
  transform: scale(1.02);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 469px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.block h5 {
  width: 327px;
  height: 105px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  flex: none;
  order: 0;
  flex-grow: 0;
}

.block > p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0;
  text-align: left;
  color: rgb(220, 220, 232);
  flex: none;
  order: 1;
  flex-grow: 0;
}

.popup {
  position: absolute;
  left: 0;
  top: 24px;
  right: 0;
  bottom: 50%;
  z-index: 99;
  transition: 200ms ease-in-out;
}

.popup-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: center;
}

.d-none {
  display: none;
}

.display {
  display: block;
}

.detailsButton {
  position: relative;
  z-index: 100;
}

#popup-ul {
  display: flex;
  align-items: center;
  padding: 0;
}

.popup-image {
  width: 100%;
}

.popup-li {
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
  padding: 1em;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  border-left: #555 solid 1px;
  border-right: #555 solid 1px;
}

.popup-container {
  margin: 1em;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.16);
  padding: 0.5em 1em 2em 0.5em;
}

.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.popup-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: 1.5em;
}

.popup-title {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-weight: 500;
  color: #fff;
  flex-grow: 1;
}

.popup-header .close-button {
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: 300;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.popup-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
}

#hover {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  width: 108px;
  height: 48px;
  background: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#enable {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px;
  gap: 12px;
  width: 124px;
  height: 48px;
  background: #7d73fc;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#overlay {
  position: fixed;
  opacity: 0;
  width: 375px;
  height: auto;
  left: 0;
  top: 0;
  background: rgb(162, 163, 174);
  transition: 200ms ease-in-out;
  mix-blend-mode: multiply;
  pointer-events: none;
}

#overlay-active {
  opacity: 1;
  pointer-events: all;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 1.58vh;
  width: 61.9vh;
  height: 7.94vh;
  font-family: 'Inter', sans-serif;
  font-size: 0.94em;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  border-right: 1px solid #555;
}

.item2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  border-right: 1px solid #555;
}

.item3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  flex: none;
  order: 4;
  flex-grow: 0;
  border-right: 1px solid #555;
}

.item4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  flex: none;
  order: 6;
  flex-grow: 0;
}

button {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #edecff;
  background: #7d73fc;
  flex: none;
  order: 3;
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 89px;
  height: 48px;
  border: none;
}

#button-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-left: 120px;
  margin-top: 40px;
  margin-bottom: 70px;
  gap: 10px;
  width: 89px;
  height: 48px;
  flex: none;
  order: 2;
  flex-grow: 0;
  color: rgb(237, 236, 255);
}

button:hover {
  background: hwb(244 45% 1%);
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

form button:hover {
  background: hwb(244 45% 1%);
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 24px;
  gap: 40px;
  left: 0;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 327px;
  height: 164px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
}

.contact h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(147, 144, 255);
  justify-content: center;
  display: flex;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  width: 327px;
  height: 35px;
}

.contact p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  justify-content: center;
  color: rgb(245, 245, 255);
  width: 327px;
  height: 105px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 24px;
  width: 100%;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 24px;
}

#name {
  display: none;
}

#last-name {
  display: none;
}

input {
  height: 48px;
  width: 100%;
  margin: 24px 0;
  transition: 0.3s ease-in-out;
}

textarea {
  height: 148px;
  width: 100%;
  margin-top: 24px;
  padding-top: 13px;
  transition: 0.3s ease-in-out;
}

input:hover,
textarea:hover {
  transform: translate(10px);
}

.social-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 200px;
  height: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: center;
  padding-left: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 72px;
  left: 0;
  border-top: #555 solid 1px;
}

div .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  position: absolute;
  width: 200px;
  height: 40px;
  left: 88px;
  margin-top: 16px;
}

.description {
  width: 221px;
  height: 29px;
  left: 76px;
  top: 5346px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: rgb(235, 235, 255);
}

/* .dash {
  transform: matrix(-0.84, -0.54, -0.54, 0.84, 0, 0);
} */

@media only screen and (min-width: 768px) {
  .backgraund {
    display: none;
  }

  /* body {
    overflow-x: hidden;
  } */

  .picture {
    margin-top: 237px;
    margin-left: 69px;
    position: absolute;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    top: 44px;
    height: 48px;
  }

  .nav-menu {
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-top: -56px;
    gap: 8px;
    width: 241px;
    height: 40px;
    left: 897px;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .nav-link {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    transition: 0.7s ease;
  }

  .nav-link:hover {
    color: #7d73fc;
  }

  .nav-item {
    list-style: none;
  }

  .hamburger {
    display: none;
  }

  .mail {
    display: flex;
    background: transparent;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-top: 27px;
    margin-right: -142px;
  }

  .placeholder {
    width: 150px;
    height: 40px;
    margin-left: 152px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  #logo {
    width: 150px;
    line-height: 20px;
    height: 20px;
  }

  .headline {
    gap: 24px;
    width: 100%;
    height: 192px;
    margin-top: 186px;
    justify-content: center;
    margin-left: 16%;
  }

  .headline-title h1 {
    font-size: 90px;
    line-height: 105px;
    justify-items: center;
  }

  .headline-subtitle h2 {
    height: 72px;
    font-style: normal;
    font-size: 40px;
    line-height: 47px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .supporting-text {
    width: 448px;
    height: 485px;
    margin-left: 480.5px;
    margin-top: 88px;
    justify-content: center;
  }

  .first {
    width: 447px;
    height: 155px;
    line-height: 32px;
    margin-top: 88px;
  }

  .solid {
    width: 448px;
    top: 9px;
  }

  .frame38 {
    flex-direction: row;
    width: 446px;
    height: 224px;
    margin-top: 32px;
    margin-left: 1px;
  }

  .language {
    width: 123px;
    height: 167.67px;
  }

  .title-lang {
    width: 107px;
    height: 26.67px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 29px;
  }

  .frame36 {
    align-items: flex-start;
    height: 129px;
    font-size: 13px;
    line-height: 25px;
  }

  .frame23 {
    width: 68.08px;
    height: 28.67px;
  }

  .frameworks {
    width: 153px;
  }

  .title-frame {
    width: 153px;
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
  }

  .frame29 {
    font-size: 14px;
    line-height: 28px;
  }

  .skills {
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .title-skills {
    font-size: 18px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0;
  }

  .frame28 {
    font-size: 14.66px;
    line-height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .solid-two {
    width: 448px;
    top: 9px;
    margin-left: 480px;
    margin-top: 50.59px;
  }

  .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 260px;
    width: 100%;
    height: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin-left: 90px;
  }

  .left-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
    margin-left: 125.5px;
    gap: 12px;
    width: 77px;
    height: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .social {
    padding-left: 0;
  }

  .element-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0;
    gap: 12px;
    width: 76px;
    height: 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    color: #b3bac5;
  }

  .works {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    margin-left: 142px;
    height: auto;
    padding: 0;
  }

  .material-symbols-outlined {
    display: none;
  }

  .closeIcon .material-icons {
    display: none;
  }

  .title-work {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 24px;
    width: auto;
    height: 155px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 114px;
    margin-bottom: 88px;
    margin-left: -5.2vh;
    border-bottom: #555 solid 1px;
  }

  #works {
    display: none;
  }

  #mobile {
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 114px;
    letter-spacing: 0;
    text-align: left;
    color: rgb(148, 144, 255);
    width: 444px;
    height: 114px;
    display: flex;
    align-items: center;
    margin-left: 142px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .devider {
    display: none;
  }

  .articles {
    width: 100%;
    height: auto;
    margin-top: 88px;
  }

  .stories {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: auto;
    height: 448px;
  }

  .img-placeholder {
    background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255)), url(image_processing20200716-21735-f07s4k.png);
    width: 110.8vh;
    height: 448px;
    transition: 0.3s ease-in-out;
  }

  .popup-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1em;
    letter-spacing: 0;
  }

  .popup-body {
    width: 133.8vh;
    margin-top: 7.8vh;
    margin-left: 36.2vh;
  }

  .popup-description {
    line-height: 1.9em;
    letter-spacing: 0;
    text-align: center;
  }

  .popup-buttons {
    flex-direction: row;
    gap: 75px;
  }

  #popup-ul {
    margin-top: 10.96vh;
    margin-bottom: 9.4vh;
  }

  .dash {
    display: none;
  }

  .contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 0;
    gap: 88px;
    position: absolute;
    width: 684px;
    height: 867px;
    left: 378px;
    margin-top: 10px;
  }

  .contact {
    width: 684px;
    height: 141px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  h6 {
    font-weight: 700px;
    font-size: 40px;
    line-height: 52px;
  }

  .contact h6 {
    width: 684px;
    height: 56px;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
  }

  .contact p {
    width: 684px;
    height: 61px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }

  .featured-img {
    flex-direction: row;
    height: 448px;
    margin-left: 142px;
  }

  #multi {
    flex-direction: row-reverse;
  }

  #multi-post {
    flex-direction: row-reverse;
  }

  .block {
    width: 448px;
    height: 405px;
    gap: 24px;
  }

  .social-icon {
    align-items: center;
    padding-top: 15px;
    justify-content: center;
    margin-top: 224px;
  }

  .items-icon {
    display: flex;
    justify-content: space-around;
    padding-left: 67px;
  }

  .footer {
    width: 100%;
    left: 0;
    border-radius: 0;
    flex-direction: row;
    height: 72px;
  }

  .h6 {
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
  }

  form button {
    width: 160px;
    flex: none;
    order: 2;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 0.03em;
    font-size: 15px;
    justify-content: center;
    margin-top: 89px;
    margin-left: 300px;
  }

  #button-footer {
    margin-left: 300px;
  }

  .email {
    width: 221px;
    height: 29px;
    display: flex;
    align-items: flex-end;
    padding-top: 37px;
    margin-top: 226px;
  }

  #name {
    height: 48px;
    width: 50%;
    left: 0;
    top: 0;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  #last-name {
    height: 48px;
    width: 49%;
    left: 353px;
    top: 0;
    border-radius: 0;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
}

@media only screen and (max-width: 768px) {
  .picture {
    display: none;
  }
}
