@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #191765;
width: 488px;
height: 5415px;
height: 5415px;
width: 375px;
left: 4127px;
top: -2311px;
border-radius: 0px;


}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  width: 375px;
  left: 0px;
  top: 44px;
  border-radius: 0px;
}

.placeholder {
  display: flex;
  height: 36px;
width: 105px;
margin-left: 12px;
margin-top: 50px;
border-radius: 0px;


}

.logo {
  display: flex;
  width: 81px;
  height: 16px;
  font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
color: #FFFFFF;
align-items: center;
text-align: center;
letter-spacing: 0.03em;
flex: none;
order: 0;
flex-grow: 0;
}

.button {
  display: flex;
  align-items: flex-start;
  margin-top: 35px;
  margin-right: 24px;
  border-radius: 8px;
  background: transparent;

}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  

left: 0px;
top: 19px;
border-radius: 0px;
padding: 120px, 24px, 120px, 24px;

}